 .item >   img{
  max-width: 50px;
  max-height: 50px;
 }
*{
  box-sizing: border-box;
}
 .Check-Out{
  width: 750px;
  height: 423px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: table;
  table-layout: fixed;
  
 }
 .item{
  padding: 20px 30px;
  height: 120px;
  border: 1px solid black;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
 }
 .item>p5 {
   margin-right: 20px;
   font-size: small;
   padding: 10px 10px;

  }
 
 