*{
    margin: 0;
    padding: 0;
}
.Home{
    background: linear-gradient(
45deg,   
#7EE8FA
,
#EEC0C6
)   ;
}
.home_row{
    display:flex; 
    z-index:1;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
}
.home_image{
    width: 100%;
    z-index: -100;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
.home_row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}
 